body {
    font: 14px/1.3 "微软雅黑";
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
}
#container{

}
.note {
    position: absolute;
    width: 200px;
    height: 300px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
    padding: 10px;
    background-color: rgb(255, 240, 70);
}

.note .close {
    position: absolute;
    top: -15px;
    left: -15px;
    background: url(close.png) no-repeat;
    width: 30px;
    height: 30px;
    display: none;
}

.note:hover .close {
    display: block;
}
.note .note-title{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 220px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    margin-left: 10px;
    cursor: default;
    user-select: none;
    outline: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}
.note .edite {
    position: absolute;
    top: 40px;
    right: 10px;
    bottom:38px;
    left: 10px;
    outline: none;
    overflow: auto;
}
.note .note-time{
    position: absolute;
    right:0;
    bottom:0;
    left:0;
    height:38px;
    background-color: #db0;
    padding: 0 0 0 10px;
    font-size: 12px;
    color: #fff;
}
.finish-time {
    position: absolute;
    right: 0;
    top:3px;
    color: #fff;
    width: 150px;
    height: 13px;
    font-size: 12px;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0);
}
.deadline{
    position: absolute;
    left:5px;
    line-height: 20px;
    user-select: none;
    cursor: default;
}
.create-time{
    left:5px;
    position: absolute;
    bottom:2px;
    height:16px;
}